<% @posts.each do |post| %>
  <h2>
   
  Posted by <%=image_tag post.user.image.url, size: '25' %> <%= truncate post.user.name%> </h2>
   
  <h2><%= link_to post.title, post %></h2>
  <p>
  <%= truncate post.text %>
</p>
	 <% end %>

  <p>
  <h3><%= link_to "New post", new_post_path %></h3>
  </p>


  
