<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class ="center hero-unit">
			<h1>My BLOG</h1>
      </div>
<header class="navbar navbar-fixed-top navbar-inverse">
      
      <div class="navbar-inner">

        <div class="container">
          <nav>
            <ul class="nav pull-right">
              <%= link_to "Registration", :controller => "user", :action => "login"%><br>
              <% if signed_in? %>

  <%= link_to "Sign out", signout_path, method: "delete"%>

  <% else %>
	<%= link_to "Sign in", signin_path %>
<%end%>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
